body {
    margin: 0;
    text-align: center;
    overflow: hidden;
    line-height: 0.2;
}

#main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.container {
    flex: 1;
    max-height: 100vh;
    max-width: 50vw;
    align-content: center;
}

.container div {
    display: inline-grid;
}

.layer {
    display: inline-grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    margin: 10px;
}

.layer div {
    height: min(12vh, 6vw);
    aspect-ratio: 1 / 1;
    outline: 2px solid black;
    background-color: lightgrey;
    background-size: 100% 100%;
}

#resetButton {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    height: 10vh;
    aspect-ratio: 1 / 1;
    background-image: url(reset.png);
    background-size: 100% 100%;
    border: 0;
    background-color: transparent;
}

#game {
    position: relative;
    background-color: whitesmoke;
    overflow: auto;
}

#viewport-3d {
    background-image: linear-gradient(lightgreen, green);
    display: flex;
    justify-content: center;
    align-items: center;
}

#viewportCanvas {
    height: min(100%, 50vw);
    aspect-ratio: 1 / 1;
    background-color: rgba(0, 0, 0, 0.2);
}

@media (orientation: portrait) {
    #main {
        flex-direction: column;
    }
    .container {
        max-height: 50vh;
        max-width: 100vw;
    }
    .cell {
        height: min(6vh, 12vw);
    }
    #viewportCanvas {
        height: auto;
        width: min(100%, 50vh);
    }
}