body {
    margin: 0px;
    overflow: hidden;
    text-align: center;
    background-color: #111111;
    background-image: linear-gradient(#222222, #111111);
    background-repeat: no-repeat;
}

#gameCanvas {
    background-color: #333333;
    height: min(100vh, 150vw);
    aspect-ratio: 2 / 3;
}