body {
    margin: 0px;
    overflow: hidden;
    background-color: #111111;
    background-image: linear-gradient(#222222, #111111);
    background-repeat: no-repeat;
}

div {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    background-color: #333333;
    height: min(100dvh, 150dvw);
    aspect-ratio: 2 / 3;
}