body {
    background-color: black;
    color:white;
    text-align: center;
    place-items: center;
}

#gameContainer {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(5, auto);
    gap: 15px;
}

#gameContainer div {
    background-color: palegoldenrod;
    background-image: url(icon.png);
    background-size: 90% 60%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: min(20vw, 15vh);
    aspect-ratio: 2 / 3;
}

#gameContainer div:hover {
    background-color: palegreen;
}

#gameContainer div.selected {
    background-color: green;
}

#gameContainer div.matched {
    background-color: paleturquoise;
    background-image: none;
    font-size: min(12vw, 9vh);
    line-height: min(20vw, 15vh);
    color: black;
    animation: flipCard 1s linear;
}

@keyframes flipCard {
    0% {transform: rotateY(0deg); background-color: palegoldenrod; background-image: url(icon.png); font-size: 0;}
    50% {transform: rotateY(90deg); background-color: palegoldenrod; background-image: url(icon.png); font-size: 0;}
    50.01% {transform: rotateY(-90deg); background-color: paleturquoise; background-image: none; font-size: min(12vw, 9vh);}
    100% {transform: rotateY(0deg); background-color: paleturquoise; background-image: none; font-size: min(12vw, 9vh);}
}

#reset {
    font-size: 20px;
    margin-bottom: 20px;
}